<!DOCTYPE html>
<html>
<head>
    <title>Contact Creation Successful!</title>
</head>
<body>
    <div class="container">
        <h1>New Contact Information:</h1>
        <li>Name: <strong> {{ newcontact.getName }} </strong></li>
        <li>Phone:<em> {{ newcontact.getPhoneNumber }} </em></li>
        <li>Address: {{ newcontact.getAddress }} </li>
    </div>
  <a href='/home'>Click here to return to contacts!</a>
</body>
</html>
