<!DOCTYPE html>
<html>
<head>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Contact Deletion Successful!</title>
</head>
<body>
    <div class="container">
        <h1>Address Book Cleared!</h1>
    </div>
  <a href='/home'>Click here to return to contacts!</a>
</body>
</html>
