<!DOCTYPE html>
<html>
<head>
    <title>Contact Deletion Successful!</title>
</head>
<body>
    <div class="container">
        <h1>Address Book Cleared!</h1>
    </div>
  <a href='/'>Click here to return to contacts!</a>
</body>
</html>
