<!DOCTYPE html>
<html>
  <head>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Address sBook</title>
  </head>
  <body id="mainBack">
    <div class="container">
      <div class="jumbotron" id="cherryMaster">
        <h2>Your Contact List:</h2>
      </div>
      {% if contacts is not empty %}
        {% for contact in contacts %}
          <div class="contactListPrint"
            Name: <strong> {{ contact.getName }} </strong> <br>
            Phone:<em> {{ contact.getPhoneNumber }} </em> <br>
            Address: {{ contact.getAddress }} <br>
          </div>
        {% endfor %}
      {% endif %}
      <div class="newEntry">
        <form action='/createContact' method="post">
          <label for='name'>New Contact Name</label>
          <input id='name' name='name' type='text'>
          <label for='phoneNumber'>New Contact Phone #</label>
          <input id='phoneNumber' name='phoneNumber' type='text'>
          <label for='address'>New Contact Address</label>
          <input id='address' name='address' type='text'>
          <button type='submit' class='btn-info'>Add Contact</button>
        </form>
        <form action='/deleteContacts' method='post'>
          <button type='submit' class='btn-danger'>Delete</button>
        </form>
      </div>
    </div>
  </body>
</html>
