.container {
    text-align: center;
}
.inputForms {
    text-align: center;
    color: silver;
}
.newPerson {
    background-image: url("../img/blueblast.jpg");
    background-size: 100%;
}
.contactListPrint {
    background-image: url("../img/cb.jpg");
    background-size: 100%;
    color: brown;
}
.newEntry {
    background-image: url("../img/bnatural.jpg");
    background-size: 100%;
}
#beach {
    background-image: url("../img/island.png");
    background-size: 100%;
}
#cherryMaster {
    background-image: url("../img/cbranch.jpg");
    background-size: 1
}
#landing {
    background-image: url("../img/leather.jpg");
}
#party {
    background-image: url("../img/partyhands.jpg");
    background-size: 100%;
}
#newReturn {
    background-color: black;
}
#deleteReturn {
    background-color: black;
}
#mainBack{
    background-image: url("../img/Bamboo.jpg");
    background-size: 100%;
}
#cleared {
    background-image: url("../img/cleared.jpg");
    background-size: 100%;

}
